/*
 * Main colors are:
 * #424242 -> text
 * #F4F3F2 -> background
 * #026CB1 -> links & active color
 * #ADCBE7 -> table headings
 * #E0E0E0 -> Bold lines back
 * #CCCCCC -> light separation for quotes
 * #FBE3E4 -> alert background
 * #15A018 -> green (online status, success)
 */
body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
	text-align: center; /* IE 5 fix */
	line-height: 1.4;
	/*background: transparent url("https://www.toptal.com/designers/subtlepatterns/patterns/seamless_paper_texture.png") repeat scroll 0% 0%;*/
}

/* COLORS */

.post_author .largetext span  
, #boardstats_e .smalltext a span  
, .menu ul a:hover, .menu ul a:active  
, .usernames {
	color: #026CB1 !important;
}
a:link  
, a:visited  
, a:hover, a:active {
	color: #026CB1;
}
.valid_field  
, input.textbox  
, textarea  
, select  
, .editor_control_bar {
	border: 1px solid #026CB1;
}

body  
, input.textbox  
, textarea  
, select  
, .editor_control_bar  
, .autocomplete  
, .popup_menu .popup_item  
, blockquote  
, .codeblock  
, .trow1  
, .pagination .pagination_current  
, .pagination a:hover  
, .pagination_breadcrumb  
.editor {
	background: #F4F3F2;
}
.pagination_breadcrumb {
	border: 1px solid #F4F3F2;
}

#panel  
, .trow2 {
	background: #E0E0E0;
}

body  
, .menu ul  
, .menu ul a:link  
, .menu ul a:visited  
, #panel  
, table  
, input.textbox  
, textarea  
, .autocomplete  
, .popup_menu .popup_item  
, .tcat  
, .tcat a:link  
, .tcat a:visited  
, .tcat a:hover, .tcat a:active  
, .trow_sep  
, .navigation  
, .navigation .active  
, .smalltext a  
, .autocomplete_selected  
, .popup_menu .popup_item:hover  
, hr  
, div.error p  
, .pagination .pagination_current  
, .thead  
, .thead a:link  
, .thead a:visited  
, .thead a:hover, .thead a:active  
, .tfoot  
, .tfoot a:link  
, .tfoot a:visited  
, .tfoot a:hover, .tfoot a:active  
, ._minus  
, ._plus  
, .offline {
	color: #424242;
}
.tborder.postbit_table  
, .autocomplete  
, .popup_menu {
	border: 1px solid #424242;
}
.post_buttons {
	border-top: 1px solid #424242;
}
hr {
	background-color: #424242;
}

.popup_menu .popup_item:hover  
, .autocomplete_selected  
, .thead  
, .tfoot  
, .tcat {
	background: #ADCBE7;
}
.pagination .pagination_current  
, .pagination a {
	border: 1px solid #ADCBE7;
}

.pagination_breadcrumb {
	outline: 1px solid #ccc;
}
.trow_sep  
, .popup_menu {
	background: #ccc;
}
#panel  
, .red_alert  
, .pm_alert  
, div.error  
, .editor  
, blockquote  
, .codeblock  
, ._neutral {
	border: 1px solid #CCC;
}
blockquote cite  
, .codeblock .title {
	border-bottom: 1px solid #ccc;
}
.validation_loading {
	color: #555;
}

.invalid_field {
	border: 1px solid #f30;
}
.high_warning  
, .moderate_warning  
, .low_warning  
, div.error p em  
, .error_message  
, .invalid_field  
, .validation_error {
	color: #FBE3E4;
}
._minus  
, .red_alert {
	background: #FBE3E4;
}

.online  
, ._plus  
, .validation_success  
, .success_message {
	color: #15A018;
}

/* END - COLORS */

#panel {
	font-size: 11px;
	padding: 8px;
}

.tborder.search_threads_table {
	border: 0px;
	background: none;
}

.post_author .largetext span {
	padding-left: 5px;
}

.usercp_nav_item {
	display: block;
	padding: 3px;
}

.inline_block {
	display: inline-block;
}

.bigtext  
, .search_threads_thread {
	font-size: 15px;
}
.search_error_message {
	padding-top: 1.3em;
	padding-bottom: 1.3em;
}

.search_threads_thread {
	padding: 0px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.posttop {
	border: none;
}

.post_buttons {
	border: 0px;
}

.post_avatar {
	width: 50px;
	height: 50px;
}

.name_topic {
	margin-top: 0.5em;
	margin-bottom: -0.3em;
	font-size: 1.3em;
}

.quotecontent img {
	max-width: 100%;
	height: auto;
}

#header {
}

#navlinks {
	display: inline-block;
}

#nixerlogo {
	display: inline-block;
	margin-right: 1em;
}

#navcontainer {
	display: block;
	width: 95%;
	margin: auto;
	text-align: left;
}

.bottommenu {
	display: none;
}

#bottom_moved_menu {
}

a:link  
, a:visited  
, .menu ul a:link  
, .menu ul a:visited  
, .menu ul a:hover, .menu ul a:active  
, .thead a:link  
, .thead a:visited  
, .tfoot a:link  
, .tfoot a:visited  
, .navigation a:link  
, .navigation a:visited  
, .navigation a:hover, .navigation a:active  
, .popup_menu .popup_item  
, .popup_menu a.popup_item:hover  
, .pagination a:hover {
	text-decoration: none;
}

a:hover, a:active  
, .thead a:hover, .thead a:active  
, .tfoot a:hover, .tfoot a:active {
	text-decoration: underline;
}

#container {
	width: 95%;
	margin: auto auto;
	padding: 0px;
	text-align: left; /* IE 5 fix */
}

#content {
	/* FIX: Make internet explorer wrap correctly */
	width: auto !important;

}

.menu ul {
	font-weight: bold;
	text-align: right;
	padding: 4px;
}

#panel .remember_me input {
	vertical-align: middle;
	margin-top: -1px;
}

table {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

.tborder {
	width: 100%;
	margin: auto auto;
	border: 0;
}

.tcat {
	font-size: 12px;
}

.trow_sep {
	font-size: 12px;
	font-weight: bold;
}

.bottommenu {
}

.navigation  
, .navigation .active {
	font-size: 13px;
	font-weight: bold;
}

.smalltext {
	font-size: 12px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

input.textbox {
	padding: 1px;
}

textarea {
	padding: 2px;
	font-family: Verdana, Arial, Sans-Serif;
	line-height: 1.4;
	font-size: 13px;
}

.validation_error {
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_success {
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_loading {
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

/* Additional CSS (Master) */
img {
	max-width: 100%;
	height: auto;
	border: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	font-weight: bold;
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.menu ul {
	list-style: none;
	margin: 0;
}

.menu li {
	display: inline;
	padding-left: 5px;
}

.menu img {
	padding-right: 5px;
	vertical-align: top;
}

#panel .links {
	margin: 0;
	float: right;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

img.attachment {
	padding: 2px;
}

hr {
	height: 1px;
	border: 0px;
}

#copyright {
	font: 11px Verdana, Arial, Sans-Serif;
	margin: 0;
	padding: 10px 0 0 0;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 0;
}

blockquote {
	margin: 0;
	padding: 4px;
}

blockquote cite {
	font-weight: bold;
	font-style: normal;
	display: block;
	margin: 4px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	padding: 4px;
}

.codeblock .title {
	font-weight: bold;
	margin: 4px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 13px;
}

.subforumicon {
	border: 0;
	vertical-align: middle;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

form {
	margin: 0;
	padding: 0;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 3px;
	white-space: nowrap;
}

.autocomplete {
	text-align: left;
}

.subject_new {
	font-weight: bold;
}

.highlight {
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	text-align: center;
	padding: 5px 20px;
	margin-top: 15px;
	font-size: 11px;
}

.red_alert {
	text-align: center;
	padding: 5px 20px;
	margin-top: 15px;
	font-size: 11px;
}

div.error {
	padding: 5px 10px;
	font-size: 12px;
}

div.error p {
	margin: 0;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
}

div.error ul {
	margin-left: 24px;
}

.pagination {
	font-size: 11px;
	padding-top: 10px;
	margin-bottom: 5px;
}

.tfoot .pagination, .tcat .pagination {
	padding-top: 0;
}
.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current, .pagination a {
	padding: 2px 6px;
	margin-bottom: 3px;
}

.pagination .pagination_current {
	font-weight: bold;
}

.thread_legend, .thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend, .forum_legend dt, .forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.post_body {
	padding: 5px;
}

.post_content {
	border: 0px;
	padding: 5px 10px;
	max-width: 0px;
}

.quick_jump {
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	vertical-align: middle;
	border: none;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

.pagination_breadcrumb {
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
	white-space: nowrap;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}

@media (max-width: 450px) {
	.forum_bit_description {
		display: none;
	}
}
